/* general settings for home screen */
:root {
	--based-color: #7451EB;
	--header-background: #003668;
}

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.split-equal-container {
	display: flex;
}
.right {
	width: 50%;
}
.left {
	width: 50%;
}
.btn {
	display: inline-block;
	border: solid 2px #444;
	padding: 0.6em 1em;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 200ms;
	color: inherit;
}

/* header */
/* top header */
.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--header-background);
	padding: .6em;
	color: #eee;
}
.btn-more-info {
	font-size: 1.2rem;
	color: inherit;
	font-weight: 600;
}
.btn-more-info:hover {
	background-color:darkcyan;
}

/* bottom header */
.bottom-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .8em .6em;
}
.left-bottom-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-weight: 600;
	color: var(--based-color);
	font-size: 1.9rem;
}
.btn-show {
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
	background-color: none;
	padding: .8em 1em;
}
.btn-show:hover {
	border-bottom: 2px solid #444;
}
.right-bottom-header {
	display: flex;
	justify-content: flex-end;
}
.right-bottom-header form {
	margin-right: 20px;
}
.right-bottom-header input {
	height: 100%;
	border: none;
	outline: none;
	border-bottom: 2px solid #444;
}
.btn-login {
	font-weight: 600;
	color: var(--based-color);
}
.btn-login:hover {
	background-color: #ddd;
}

/* home banner */
.home-banner {
	background-color: var(--based-color);
	height: 40vh;
}

























































