:root {
	--based-color: #7451EB;
}

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	height: 100vh;
	color: #444;
}
.container > section {
	width: 50%;
}
.center {
	text-align: center;
}
.logo {
	font-size: 1.9rem;
	text-decoration: none;
	font-weight: 600;
	color: var(--based-color);
	display: inline-block;
	margin: 30px;
}
.left-home {
	/*position: relative;*/
}
.form-container {
	margin: 20px auto;
	width: 90%;
}
.login-form > * {
	margin-bottom: 40px;
}
.left-home h1 {
	color: #003668;
	font-size: 2.6rem;
	text-align: center;
	margin-bottom: 25px;
}
.login-form {
	width: 96%;
}
.btns-socials-login {
	text-align: center;
}
.btn {
	font-size: 1.4rem;
	text-decoration: none;
	padding: 0.3em 1em;
	border: 1px solid #444;
	color: inherit;
	border-radius: 5px;
	display: inline-block;
	margin: 0 15px;
	transition: 200ms background-color;
}
.btn-social:hover {
	background-color: #ddd;
}
.separation {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 10px 0;
}
.login-form h3 {
	text-align: center;
}
.form-group {
	margin: 0px auto 15px;
	width: 95%;
	position: relative;
}
.group {
	display: block;
}
.colored-line {
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: var(--based-color);
	bottom: 0;
	left: 0;
	transform: scale(0);
	transition: 300ms transform;
}
.form-group input:not([type="checkbox"]) {
	border: none;
	outline: none;
	border-bottom: 2px solid #444;
	font-size: 1.3rem;
	width: 100%;
	padding: 7px;
}
.form-group:hover .colored-line, .form-group:focus .colored-line {
	transform: scale(1);
}
.form-group-info {
	font-size: .9em;
	margin-top: 10px;
	display: inline-block
}
.birth-txt {
	display: block;
}
select {
	padding: 6px;
}
.btn-submit-container {
	text-align: center;
}
[type="submit"] {
	background-color: #7451EB;
	color: #eee;
	cursor: pointer;
	transition: 100ms all;
}
[type="submit"]:hover {
	box-shadow: 0 6px 5px rgba(0,0,0,.5)
}
.go-signup-form a{
	color: var(--based-color);
	transition: 200ms all;
}
.go-signup-form a:hover {
	text-decoration: none;
}
.right-home {
	background: url(/imgs/homeScreen.jpg) center center/ cover;
	color: #eee;
}
.person-message{
	font-size: 1.3rem;
	width: 80%;
	margin: 30px auto;
}
.person-name {
	width: 80%;
	margin: 10px auto;
}