<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Openclassrooms</title>
	
	<link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>
	<div class="container">
		<section class="left-home">
			<header>
				<a href="#" class="logo">openclassrooms</a>
			</header>
			<main class="form-container">
				<form action="/home" class="login-form" method="post">
					<h1>connexion</h1>
					<div class="btns-socials-login">
						<a href="#" class="btn-social btn">facebook</a>
						<a href="#" class="btn-social btn">google</a>
						<a href="#" class="btn-social btn">apple</a>
					</div>
					<p class="separation">OU</p>
					<h3>connectez-vous avec votre adresse email</h3>
		
					<p class="form-group">
						<input type="email" name="mail" id="mail" placeholder="Adresse e-mail">
						<span class="colored-line"></span>
					</p>
					<p class="btn-submit-container">
						<input type="submit" value="continuer" class="btn">
					</p>
				</form>
				<p>Vous n'avez pas encore de compte? <span class="go-signup-form"><a href="/signup" >Inscrivez-vous gratuitement</a></span></p>
			</main>
		</section>
		<section class="right-home">
			<h2 class="person-message">« J'ai validé ma formation UX Designer en étant maman et entrepreneuse. C'était sport...
			mais je l'ai fait ! »</h2>
			<p class="person-name">Mathilde - Diplômée OpenClassrooms</p>
				
		</section>
	</div>
	
	<script src="/js/main.js"></script>
</body>
</html>